<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Awesome Photography</title>


    <style>
        .list-group-item.active{

	        background-color: #343a40!important;
	        border-color: #343a40!important;
        }
<!--        #thumbnail{-->
<!--            width: 100%;-->
<!--            height: 200px;-->
<!--            -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);-->
<!--            -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);-->
<!--            box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);-->
<!--            background-size: 100%;-->
<!--            transition : 1s;-->
<!--            cursor : zoom-in;-->
<!--        }-->
    </style>
  </head>
  <body>
  {% include 'navbar.html' %}
<div class="container-fluid pt-3 margin-bottom-3">
  <div class="row mt-3">

      <div class="col-md-2">

          <div class="list-group">
              <a href="/show_home_page" class="list-group-item list-group-item-action active">
               All Images
              </a>
              {% for c in category %}
                <a href="/category/{{c.pk}}" class="list-group-item list-group-item-action">{{c.title}}</a>
              {% endfor %}

          </div>

      </div>

      <div class="col-md-10">

          <div class="row">
              <div class="col-md-12">
                  <div class="card-columns">
                      {% for i in images %}

                      <div class="card" id="thumbnail">
                          <img  class="card-img-top" src="/media/{{i.image}}" alt="Card image cap" style = "height:300px;">
                          <div class="card-body">
                            <h5 class="card-title">{{i.title}}</h5>
                            <p class="card-text">{{i.description}}</p>
                            <a href="#" class="btn btn-primary" onclick="showModalWithImage('{{i.image}}', '{{i.title}}')">View</a>
                              <hr>
                              <br>
                          </div>
                      </div>
                      <br>
                      <br>
                      {% endfor %}
                  </div>
              </div>
          </div>

      </div>
  </div>

  <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog model-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="#!" id = "image-show" class="img-fluid" alt = "">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script>
      function showModalWithImage(imageUrl, image_title){
      debugger;
        $('#image-modal').modal('show');
        document.getElementById('exampleModalLabel').innerHTML = image_title;
        $('#image-show').attr('src', `/media/${imageUrl}`);
      }
  </script>


  </body>

</html>