<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/show_home_page">Awesome Photography</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/show_home_page">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          {% for c in category %}
                <a class="dropdown-item" href="/category/{{c.pk}}">{{c.title}}</a>
              {% endfor %}
<!--          <a class="dropdown-item" href="#">All Images</a>-->
<!--          <a class="dropdown-item" href="#">Game</a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="#">Bollywood</a>-->
        </div>
      </li>
    </ul>
        <a class="nav-link" id = "hire-me" href="#" style="font-size: 15px;font-family: cursive;color: darkgoldenrod;" onclick="showModalWithImage('{{i.image}}', '{{i.title}}')">Hire Me</a>


<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->


  </div>
  <div class="modal" id="hire-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog model-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="hireModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="#!" id = "hire-show" class="img-fluid" alt = "">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

</nav>

<script>
      function showHireMeModal(imageUrl, image_title){
      debugger;
        $('#image-modal').modal('show');
        document.getElementById('exampleModalLabel').innerHTML = image_title;
        $('#image-show').attr('src', `/media/${imageUrl}`);
      }
</script>